{% extends 'main/supplier_base.html' %}
{% load static %}
{% block title %}طلب توريد{% endblock %}
{% block ref %}
<link rel="stylesheet" href="{% static 'css/supplier_style.css' %}">
{% endblock %}

{% block content %}
<div class="container">
    <div class="form-container">
        <form id="requestForm" method="POST" action="{% url 'supplier:supply_request_view' %}"
            enctype="multipart/form-data">
            {% csrf_token %}
            <!-- commercial Info Section -->
            <div id="commercialInfoSection">

                <h5 class="section-title">معلومات المتجر الأساسية</h5>

                <div class="mb-3">
                    <label for="storeName" class="form-label">اسم المتجر</label>
                    <input type="text" name="store_name" class="form-control" id="storeName" required>
                </div>

                <div class="mb-3">
                    <label for="storeDescription" class="form-label">وصف المتجر</label>
                    <textarea name="store_description" class="form-control" id="storeDescription" rows="3"
                        placeholder="وصف موجز لنشاط المتجر والمنتجات التي يقدمها" minlength="20" required></textarea>
                </div>

                <h5 class="section-title">الوثائق والمستندات</h5>

                <div class="row mb-3">
                    <div class="col-md-4">
                        <label for="registrationDoc" class="form-label">وثيقة التسجيل</label>
                        <div class="file-upload" id="registrationDocUpload">
                            <input name="registration_document" type="file" class="d-none" id="registrationDoc"
                                accept=".pdf,.jpg,.jpeg,.png">
                            <i class="bi bi-upload"></i>
                            <div class="file-upload-text">اضغط لرفع الملف</div>
                            <div class="file-name" id="registrationDocName"></div>
                        </div>
                        <div class="form-text">صيغة PDF أو JPG أو PNG</div>
                    </div>

                    <div class="col-md-4">
                        <label for="licenseDoc" class="form-label">وثيقة الترخيص</label>
                        <div class="file-upload" id="licenseDocUpload">
                            <input type="file" name="license_document" class="d-none" id="licenseDoc"
                                accept=".pdf,.jpg,.jpeg,.png">
                            <i class="bi bi-upload"></i>
                            <div class="file-upload-text">اضغط لرفع الملف</div>
                            <div class="file-name" id="licenseDocName"></div>
                        </div>
                        <div class="form-text">صيغة PDF أو JPG أو PNG</div>
                    </div>

                    <div class="col-md-4">
                        <label for="taxCertificate" class="form-label">الشهادة الضريبية</label>
                        <div class="file-upload" id="taxCertificateUpload">
                            <input type="file" name="tax_certificate" class="d-none" id="taxCertificate"
                                accept=".pdf,.jpg,.jpeg,.png">
                            <i class="bi bi-upload"></i>
                            <div class="file-upload-text">اضغط لرفع الملف</div>
                            <div class="file-name" id="taxCertificateName"></div>
                        </div>
                        <div class="form-text">صيغة PDF أو JPG أو PNG</div>
                    </div>
                </div>

                <h5 class="section-title">المعلومات البنكية</h5>

                <div class="row mb-3">
                    <div class="col-md-6">
                        <label for="bankAccountName" class="form-label">اسم الحساب البنكي</label>
                        <input type="text" name="bank_account_name" class="form-control" id="bankAccountName" required>
                    </div>

                    <div class="col-md-6">
                        <label for="bankName" class="form-label">اسم البنك</label>
                        <input type="text" name="bank_name" class="form-control" id="bankName" required>
                    </div>
                </div>

                <div class="row mb-3">
                    <div class="col-md-6">
                        <label for="bankAccountNumber" class="form-label">رقم الحساب البنكي</label>
                        <input type="text" name="bank_account_number" class="form-control" id="bankAccountNumber"
                        pattern="^\d{10,12}$" title="رقم الحساب البنكي يجب أن يكون بين 10 و 12 رقم." required>
                    </div>

                    <div class="col-md-6">
                        <label for="iban" class="form-label">رقم الآيبان</label>
                        <input type="text" name="iban" class="form-control" id="iban"
                            placeholder="مثال: SA44 2000 0001 2345 6789 1234"   pattern="^SA\d{2}(\s?\d{4}){5}$" title="رقم الآيبان يجب أن يبدأ بـ 'SA' متبوعًا برقمين وأربعة مجموعات من 4 أرقام." required>
                    </div>
                </div>

                <div class="mb-3">
                    <label for="swiftCode" class="form-label">رمز السويفت</label>
                    <input type="text" name="swift_code" class="form-control" id="swiftCode"
                    pattern="^[A-Z]{6}[A-Z0-9]{2}([A-Z0-9]{3})?$" title="رمز السويفت يجب أن يكون 8 أو 11 حرفًا." placeholder="مثال: NBOKSAJE" required>
                </div>

                <h5 class="section-title">معلومات جهة الاتصال التجارية</h5>

                <div class="mb-3">
                    <label for="contactName" class="form-label">اسم جهة الاتصال التجارية</label>
                    <input type="text" name="commercial_contact_name" class="form-control" id="contactName" required>
                </div>

                <div class="row mb-3">
                    <div class="col-md-6">
                        <label for="contactPhone" class="form-label">هاتف جهة الاتصال التجارية</label>
                        <input type="tel" name="commercial_contact_phone" class="form-control" id="contactPhone"
                            placeholder="مثال: 0512345678" required>
                    </div>

                    <div class="col-md-6">
                        <label for="contactEmail" class="form-label">البريد الإلكتروني لجهة الاتصال التجارية</label>
                        <input type="email" name="commercial_contact_email" class="form-control" id="contactEmail"
                            required>
                    </div>
                </div>
                <button type="button" class="submit-btn mt-4" id="nextToSupplyDetails">التالي</button>

            </div>

            <!-- Supply Details section -->
            <div id="supplyDetails" style="display:none;">
                <h5 class="section-title">معلومات التوريد</h5>

                <div class="mb-3">
                    <label for="supplierLogo" class="form-label">الشعار </label>
                    <div class="file-upload" id="logoUpload">
                        <input name="logo" type="file" class="d-none" id="supplierLogo" accept=".jpg,.jpeg,.png">
                        <i class="bi bi-upload"></i>
                        <div class="file-upload-text">اضغط لرفع صورة الشعار</div>
                        <div class="file-name" id="logoUploadName"></div>
                    </div>
                    <div class="form-text">صيغة JPG أو PNG</div>
                </div>

                <div class="mb-3">
                    <label for="supplySector" class="form-label">قطاع التوريد</label>
                    <select class="form-select" id="supplySector" required name="supply_sector">
                        <option value="" selected disabled>اختر قطاع التوريد</option>
                        {% for value, display in supply_sector_choices %}
                        <option value="{{ value }}">{{ display }}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="mb-3">
                    <label for="deliveryService" class="form-label">خدمة التوصيل</label>
                    <select class="form-select" id="deliveryService" name="delivery_service" required onchange="handleDeliveryChange(this)">
                        <option value="" selected disabled>اختر خدمة التوصيل</option>
                        {% for value, display in delivery_service_choices %}
                        <option value="{{ value }}">{{ display }}</option>
                        {% endfor %}
                    </select>
                </div>
                
                <div class="mb-3" id="shipping" hidden>
                    <label for="orderLeadTime" class="form-label">مدة تنفيذ الطلب (بالأيام)</label>
                    <input type="number" class="form-control" id="orderLeadTime" min="1" name="order_lead_time_days" >
                </div>
                
                <div class="mb-3" id="delivery" hidden>
                    <label for="fastServiceDetails" class="form-label">تفاصيل الخدمة السريعة</label>
                    <input type="number" class="form-control" id="fastServiceDetails" maxlength="24" min="1" name="fast_service_details" >
                </div>
         
                <div class="mb-3">
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" id="latePaymentOptions"
                            name="late_payment_options">
                        <label class="form-check-label" for="latePaymentOptions">
                            خيارات الدفع المتأخر
                        </label>
                    </div>
                </div>

                <div class="mb-3">
                    <label for="supplyDays" class="form-label">أيام العمل</label>
                    <select class="form-select" id="supplyDays" multiple required name="supply_days">
                        <option value="" selected disabled>اختر يوم</option>
                        {% for day in days %}
                            <option value="{{ day.pk }}">
                                {{ day.get_name_display }}
                            </option>
                        {% endfor %}
                    </select>
                    <div class="form-text">أيام الأسبوع التي يكون فيها المورد متاحًا للتوريد</div>
                </div>

            <button type="submit" class="submit-btn mt-4" style="display:none;" id="submitRequestForm">ارسال
                الطلب</button>
        </form>
    </div>
</div>
<script>document.addEventListener('DOMContentLoaded', function () {
        // Handle file uploads
        const fileUploadHandlers = [
            {
                uploadElementId: 'registrationDocUpload',
                fileInputId: 'registrationDoc',
                fileNameDisplayId: 'registrationDocName'
            },
            {
                uploadElementId: 'licenseDocUpload',
                fileInputId: 'licenseDoc',
                fileNameDisplayId: 'licenseDocName'
            },
            {
                uploadElementId: 'taxCertificateUpload',
                fileInputId: 'taxCertificate',
                fileNameDisplayId: 'taxCertificateName'
            },
            {
                uploadElementId: 'logoUpload',
                fileInputId: 'supplierLogo',
                fileNameDisplayId: 'logoUploadName'
            }
        ];

        fileUploadHandlers.forEach(({ uploadElementId, fileInputId, fileNameDisplayId }) => {
            const uploadElement = document.getElementById(uploadElementId);
            const fileInput = document.getElementById(fileInputId);
            const fileNameDisplay = document.getElementById(fileNameDisplayId);

            uploadElement.addEventListener('click', function () {
                fileInput.click();
            });

            fileInput.addEventListener('change', function () {
                if (this.files.length > 0) {
                    fileNameDisplay.textContent = this.files[0].name;
                }
            });
        });

        document.getElementById('nextToSupplyDetails').addEventListener('click', function () {
            const commercialInfoSection = document.getElementById('commercialInfoSection');
            const supplyDetailsSection = document.getElementById('supplyDetails');

            const commercialForm = document.getElementById('requestForm');
            const commercialequiredFields = [              
                'contactEmail',
                'contactPhone',
                'contactName',
                'swiftCode',
                'iban',
                'bankAccountNumber',
                'bankName',
                'bankAccountName',
                'storeDescription',
                'storeName',
            ];

            // Check validity of only the required fields
            const allValid = commercialequiredFields.every(fieldId => {
                const field = document.getElementById(fieldId);
                return field.checkValidity();
            });

            if (allValid) {
                // Hide the commercialInfoSection 
                if (commercialInfoSection) {
                    commercialInfoSection.style.display = 'none';

                } else {
                    console.error('Commercial Info Section not found');
                }

                // Show supply details section
                if (supplyDetailsSection) {
                    supplyDetailsSection.style.display = 'block';
                } else {
                    console.error('Supply Details Section not found');
                }

                this.style.display = 'none';
                document.getElementById('submitRequestForm').style.display = 'block'; // Show submit button
            } else {
                // Report validity for the required fields
                commercialequiredFields.forEach(fieldId => {
                    const field = document.getElementById(fieldId);
                    if (!field.checkValidity()) {
                        field.reportValidity(); 
                    }
                });
            }
        });
    });
    
    
    function handleDeliveryChange(select) {
    const shippingSection = document.getElementById('shipping');
    const deliverySection = document.getElementById('delivery');
    const inputOrderLeadTime = document.getElementById('orderLeadTime');
    const inputFast = document.getElementById('fastServiceDetails');

    shippingSection.hidden = true;
    deliverySection.hidden = true;

    if (select.value === 'shipping') {
        shippingSection.hidden = false;
        inputOrderLeadTime.setAttribute('required', 'required');
    } else if (select.value === 'fast') {
        deliverySection.hidden = false;
        inputFast.setAttribute('required', 'required');

    } else if (select.value === 'both') {
        shippingSection.hidden = false;
        deliverySection.hidden = false;
        inputOrderLeadTime.setAttribute('required', 'required');
        inputFast.setAttribute('required', 'required');


    }
}
    </script>
{% endblock %}