{% extends 'main/supplier_base.html' %}
{% load static %}
{% block title %}تفاصيل المورد{% endblock %}
{% block ref %}
<link rel="stylesheet" href="{% static 'css/supplier_style.css' %}">

{% endblock %}
{% block content %}

<div class="container">

    <!-- Details Container -->
    <div class="details-container">
        <div class="d-flex justify-content-between align-items-center mb-4">
            <h5>معلومات التوريد</h5>

        </div>

        <!-- Basic Info Section -->
        <div class="detail-section row">
            <div class="col-md-3 text-center mb-3">
                <img src="{{supplier.logo_url}}" alt="شعار المورد" class="supplier-logo mb-2">
                <div class="mt-2">
                    {% if supplier.is_available %}
                    <span class="badge bg-success">متاح حالياً</span>
                    {% else %}
                    <span class="badge bg-danger">غير متاح حالياً</span>
                    {% endif %}
                </div>
            </div>
            <div class="col-md-7">
                <div class="row mb-2">
                    <div class="col-md-5">
                        <div class="detail-label">قطاع التوريد</div>
                        <div class="detail-value">{{supplier.get_supply_sector_display}}</div>
                    </div>

                    <div class="col-md-6 ">
                        <div class="detail-label"> الدفع الآجل</div>
                        <div class="detail-value">
                            {% if supplier.late_payment_options %}
                            <i class="bi bi-check-circle-fill text-success"></i> متاح
                            {% else %}
                            <i class="bi bi-x-circle-fill text-danger"></i> غير متاح
                            {% endif %}
                        </div>
                    </div>
                    <div class="col-md-6 mt-md-3">
                        <div class="detail-label">أيام العمل</div>
                        {% if supplier.supply_days.all %}
                        <ul>
                            {% for day in supplier.supply_days.all %}
                            <li>{{ day.get_name_display }}</li>
                            {% endfor %}
                        </ul>
                        {% else %}
                        <p>لا توجد أيام محددة</p>
                        {% endif %}
                        <!-- <div class="detail-value">{{supplier.supply_days}}</div> -->
                    </div>
                </div>
            </div>
        </div>
        <!-- Status Info Section -->
        <div class="detail-section">
            <h5 class="mb-3">معلومات الحالة</h5>
            <div class="row">
                <div class="col-md-6">
                    <div class="detail-label">حالة طلب التوريد</div>
                    <div class="detail-value timestamp">
                        {{request.get_status_display}}
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="detail-label">ملحوظة اضافية</div>
                    <div class="detail-value timestamp">
                        {{request.rejection_reason|default_if_none:"لا يوجد"}}
                    </div>
                </div>
            </div>
        </div>

        <!-- Additional Details Section -->
        <div class="detail-section">
            <h5 class="mb-3">تفاصيل إضافية</h5>


            <div class="row mb-3">
                <div class="col-md-3">
                    <div class="detail-label">خدمة التوصيل</div>
                    <div class="detail-value">{{supplier.get_delivery_service_display}}</div>
                </div>
                <div class="col-md-4">
                    <div class="detail-label"> مدة تنفيذ الطلب للشحن (بالايام) </div>
                    <div class="detail-value">
                        {{supplier.order_lead_time_days|default_if_none:"-"}}</div>
                </div>
                <div class="col-md-4">
                    <div class="detail-label">مدة تنفيذ الطلب للتوصيل (بالساعات) </div>
                    <div class="detail-value">
                        {{supplier.fast_service_details|default_if_none:"-"}}</div>
                </div>
            </div>
        </div>

        <!-- System Info Section -->
        <div class="detail-section">
            <h5 class="mb-3">معلومات النظام</h5>
            <div class="row">
                <div class="col-md-6">
                    <div class="detail-label">تاريخ الإنشاء</div>
                    <div class="detail-value timestamp">
                        <i class="bi bi-calendar-check me-1"></i>
                        {{supplier.created_at}}
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="detail-label">آخر تحديث</div>
                    <div class="detail-value timestamp">
                        <i class="bi bi-clock-history me-1"></i>
                        {{supplier.updated_at}}
                    </div>
                </div>
            </div>
        </div>

        <!-- Action Buttons -->
        <div class="d-flex justify-content-end mt-4">
            <a href="{%url 'main:index_view'%}" class="btn btn-outline-secondary me-2">العودة للقائمة</a>
            <!-- <a href="#" class="btn action-btn"><i class="bi bi-pencil-square me-1"></i> تعديل</a> -->
        </div>

    </div>
</div>


<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

{% endblock %}