{% extends "administration/dashboard.html" %}

{% block content %}

<style>
  footer {
    background-color: #ffffff;
    border-top: 1px solid #e0e0e0;
    text-align: center;
    padding: 15px 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
    z-index: 1000;
    box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.05);
  }
  
  footer img {
    height: 40px;
    margin-bottom: 5px;
  }
  
  footer span {
    display: block;
    color: #006400; 
    font-size: 14px;
    font-weight: bold;
    margin-top: 5px;
  }
  
</style>

<div class="container mt-4">
  <h2 class="mb-4 text-center">تفاصيل طلب المورد</h2>
  <div class="card mb-4">
    <div class="card-header text-white " style="background-color: #1F3F2E; color:#FFA500;">معلومات الحساب</div>
    <div class="card-body" style="text-align: right;">
      <p style="font-size: 19px;"><strong>الاسم:</strong> {{ supplier.user.get_full_name }}</p>
      <p style="font-size: 19px;"><strong>البريد الإلكتروني:</strong> {{ supplier.user.email }}</p>
      <p style="font-size: 19px;"><strong>رقم الجوال:</strong> {{ supplier.phone }}</p>
      <p style="font-size: 19px;"><strong>الحالة:</strong> {{ supplier.get_status_display }}</p>
    </div>
  </div>

  <div class="card mb-4">
    <div class="card-header text-white" style="background-color: #1F3F2E; color:#FFA500;">المعلومات التجارية</div>
    <div class="card-body" style="text-align: right;">
      {% if commercial_info %}
        <p style="font-size: 19px;"><strong>اسم المتجر:</strong> {{ commercial_info.store_name }}</p>
        <p style="font-size: 19px;"><strong>وصف المتجر:</strong> {{ commercial_info.store_description }}</p>
        <p style="font-size: 19px;"><strong>اسم الحساب البنكي:</strong> {{ commercial_info.bank_account_name }}</p>
        <p style="font-size: 19px;"><strong>رقم الحساب:</strong> {{ commercial_info.bank_account_number }}</p>
        <p style="font-size: 19px;"><strong>اسم البنك:</strong> {{ commercial_info.bank_name }}</p>
        <p style="font-size: 19px;"><strong>IBAN:</strong> {{ commercial_info.iban }}</p>
        <p style="font-size: 19px;"><strong>SWIFT:</strong> {{ commercial_info.swift_code }}</p>
        <p style="font-size: 19px;"><strong>اسم جهة الاتصال:</strong> {{ commercial_info.commercial_contact_name }}</p>
        <p style="font-size: 19px;"><strong>رقم الجوال:</strong> {{ commercial_info.commercial_contact_phone }}</p>
        <p style="font-size: 19px;"><strong>الإيميل:</strong> {{ commercial_info.commercial_contact_email }}</p>
        <p style="font-size: 19px;"><strong>السجل التجاري:</strong>
          {% if commercial_info.registration_document %}
            <a href="{{ commercial_info.registration_document.url }}" target="_blank" class="btn btn-sm btn-outline-primary">عرض</a>
          {% else %} لا يوجد {% endif %}
        </p>
        <p style="font-size: 19px;"><strong>رخصة:</strong>
          {% if commercial_info.license_document %}
            <a href="{{ commercial_info.license_document.url }}" target="_blank" class="btn btn-sm btn-outline-primary">عرض</a>
          {% else %} لا يوجد {% endif %}
        </p>
        <p style="font-size: 19px;"><strong>شهادة ضريبية:</strong>
          {% if commercial_info.tax_certificate %}
            <a href="{{ commercial_info.tax_certificate.url }}" target="_blank" class="btn btn-sm btn-outline-primary">عرض</a>
          {% else %} لا يوجد {% endif %}
        </p>
      {% else %}
        <p style="font-size: 19px;">لا توجد معلومات تجارية.</p>
      {% endif %}
    </div>
  </div>


  <div class="card mb-4">
    <div class="card-header text-white" style="background-color: #1F3F2E; "> معلومات التوريد</div>
    <div class="card-body" style="color: #FFA500; font-size: 14px; text-align: right;">
      <!--{% if supply_details %}
        <p style="font-size: 19px;"><strong>أيام التوريد:</strong> {{ supply_details.supply_days }}</p>-->
        <p style="font-size: 19px;">
          <strong>أيام التوريد:</strong>
          {% if supply_details.supply_days.all %}
              <ul>
                  {% for day in supply_details.supply_days.all %}
                    <li>{{ day.get_name_display }}</li>
                  {% endfor %}
              </ul>
          {% else %}
              لا توجد أيام توريد محددة.
          {% endif %}
      </p>
                    
        <p style="font-size: 19px;"><strong>الخدمة السريعة:</strong> {{ supply_details.fast_service_details }} أيام</p>
        
        <p style="font-size: 19px;"><strong>خدمة التوصيل:</strong> 
          {% if supply_details.delivery_service == "both" %}
          توصيل سريع وشحن
          {% elif supply_details.delivery_service == "shipping" %}
             شحن          
          {% elif supply_details.delivery_service == "fast" %}
             سريع 
          {% else %}
            غير محدد
          {% endif %}
        </p>
    
        <p style="font-size: 19px;"><strong>مدة تجهيز الطلب:</strong> {{ supply_details.order_lead_time_days }} أيام</p>
    
        <p style="font-size: 19px;"><strong>خيارات الدفع المتأخر:</strong> 
          {% if supply_details.late_payment_options %}
            متاحة
          {% else %}
            غير متاحة
          {% endif %}
        </p>
    
        <p style="font-size: 19px;"><strong>القطاع:</strong> 
          {% if supply_details.supply_sector == "both" %}
          بيع تجزئة وجملة
          {% elif supply_details.supply_sector == "wholesale" %}
          بالجملة
          {% elif supply_details.supply_sector == "retail" %}
          بيع بالتجزئة
          {% else %}
            غير محدد
          {% endif %}
        </p>
    
        {% if supply_details.logo %}
          <p style="font-size: 19px;"><strong>شعار المورد:</strong><br>
            <img src="{{ supply_details.logo.url }}" class="img-thumbnail" width="150">
          </p>
        {% endif %}
    
      {% else %}
        <p>لا توجد معلومات توريد.</p>
      {% endif %}
    </div>
  </div>
  
  
  <div class="d-flex justify-content-between align-items-center mb-4">
    <a href="{% url 'administration:supplier_requests_view' %}" class="btn btn-outline-secondary">رجوع إلى قائمة الطلبات</a>

    <form method="post" action="{% url 'administration:approve_supplier' supplier.id %}" class="d-inline-block">
      {% csrf_token %}
      <button type="submit" class="btn text-white" style="background-color: #1F3F2E;">قبول الطلب</button>
    </form>

    <button type="button" onclick="showRejectionForm()" class="btn btn-danger">رفض المورد</button>
  </div>

  <form id="rejectionForm" method="post" action="{% url 'administration:reject_supplier' supplier.id %}" style="display: none;">
    {% csrf_token %}
    <div class="card">
      <div class="card-header bg-danger text-white">سبب الرفض</div>
      <div class="card-body">
        <div class="mb-3">
          <label for="reason" class="form-label">يرجى توضيح سبب الرفض:</label>
          <textarea name="reason" id="reason" class="form-control" rows="4" required></textarea>
        </div>
        <button type="submit" class="btn btn-outline-danger">تأكيد الرفض</button>
      </div>
    </div>
  </form>

</div>



<script>
  function showRejectionForm() {
    document.getElementById("rejectionForm").style.display = "block";
  }
</script>

{% endblock %}

