{% extends 'main/base.html' %}
{% load static %}

{% block title %}إضافة منتج{% endblock %}
{% block ref %}
<link rel="stylesheet" href="{% static 'css/products_style.css' %}">
{% endblock %}

{% block content %}

<section class="d-flex justify-content-center align-items-center">
    <div class="container-fluid w-100">
        <div class="row justify-content-center">
            <div class="col-10 col-lg-8 container-section p-3 p-md-5 text-white">
                <form method="post" action="{% url 'products:add_product_view' %}" enctype="multipart/form-data">
                    {% csrf_token %}
                    <div class="row">
                        <div class="col-12 col-lg-6 mb-3">
                            <label class="form-label">اسم المنتج</label>
                            <input type="text" class="form-control" id="product_name" name="name" required>
                        </div>
                        <div class="col-12 col-lg-6 mb-3">
                            <label class="form-label">صورة المنتج</label>
                            <input type="file" class="form-control" id="image" name="image" accept="image/*">
                        </div>
                        <div class="col-12 mb-3">
                            <label class="form-label">وصف المنتج</label>
                            <textarea class="form-control" id="description" name="description" rows="1"></textarea>
                        </div>
                        <div class="col-12 col-md-4 mb-3">
                            <label class="form-label">سعر المنتج</label>
                            <input type="number" class="form-control" id="price" name="price" step="0.5" min="0" required>
                        </div>
                        <div class="col-12 col-md-4 mb-3">
                            <label class="form-label">الحد الأدنى للطلب</label>
                            <input type="number" class="form-control" id="min_order_quantity" name="min_order_quantity" value="1" min="1" required>
                        </div>
                        <div class="col-12 col-md-4 mb-3">
                            <label class="form-label">الكمية في المخزن</label>
                            <input type="number" class="form-control" id="stock" name="stock" required min="0">
                        </div>
                        <div class="col-12 col-md-6 mb-3">
                            <label class="form-label">الكمية للحد الأدنى للتنبيه في المخزن</label>
                            <input type="number" class="form-control" id="min_stock_alert" name="min_stock_alert" value="0" min="0">
                        </div>
                        <div class="col-12 col-md-6 mb-3">
                            <label class="form-label">طريقة البيع</label>
                            <select class="form-select" id="sale_method" name="sale_method" required>
                                <option value="" disabled selected>اختر طريقة البيع</option>
                                {% for choice in sale_method %}
                                    <option value="{{ choice.0 }}">{{ choice.1 }}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <div class="col-12 col-md-6 mb-3">
                            <label class="form-label">الفئة</label>
                            <select class="form-select" id="category" name="category" required>
                                <option value="" disabled selected>اختر الفئة</option>
                                {% for choice in categories %}
                                    <option value="{{ choice.0 }}">{{ choice.1 }}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <div class="col-12 col-md-6 mb-3">
                            <label class="form-label">الفئة الفرعية</label>
                            <select class="form-select" id="subcategory" name="subcategory">
                                <option value="" disabled selected>اختر الفئة الفرعية</option>
                                {% for choice in subcategories.processed %}
                                    <option value="{{ choice.0 }}">{{ choice.1 }}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <button type="submit" id="submit" class="col-11 col-md-6 mt-3 btn btn-light mx-auto d-flex justify-content-center">
                            إضافة المنتج
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>

<script src="{% static 'js/category_subcategory.js' %}"></script>
{% endblock %}