{% extends 'main/supplier_base.html' %}
{% load static %}

{% block title %}ادارة المخزون{% endblock %}
{% block ref %}
<link rel="stylesheet" href="{% static 'css/products_style.css' %}">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">

{% endblock %}

{% block content %}

<section class="d-flex flex-row justify-content-center align-items-center">
    <div class="container-fluid w-100">

        <div class="row justify-content-center align-items-center">

            <div class="col-10  p-3 p-md-5">
                <div class="row justify-content-center align-items-center">
                    <div class="col-12 col-md-5">
                        {% if product.image %}
                        <img src="{{ product.image.url }}" class="img-fluid w-100 product-image " />
                        {% else %}
                        <img src="{% static 'image/default.png' %}" class="img-fluid w-100 product-image" />
                        {% endif %}

                    </div>
                    <div class="col-12 col-md-6">

                        <div class="d-flex flex-column justify-content-start align-items-start product-card">
                            <h1 class="product-title">{{ product.name }}</h1>

                            <p class="product-category">{{ product.get_category_display }}> {{ product.get_subcategory_display }}</p>
                            <p>عن المنتج: </p>
                            <p class="product-description">{{ product.description }}</p>
                            <p>اقل كمية للطلب: {{ product.min_order_quantity }} {{ product.get_unit_display }}</p>

                            <p class="price">{{ product.price }} ﷼ </p>
                            <a href="#" class="btn mazood-main-btn">اضف الى السلة <i class="bi bi-basket2-fill"></i></a>
                            <!-- <div class="d-flex justify-content-start align-items-start">
                                <button id="decrement" class="btn btn-danger">-</button>
                                <input type="number" id="counter" class="form-control counter mx-1" value="0" readonly>
                                <button id="increment" class="btn btn-success">+</button>
                            </div> -->
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

<script>
    $(document).ready(function () {
        let count = 0;

        $('#increment').click(function () {
            count++;
            $('#counter').val(count);
        });

        $('#decrement').click(function () {
            if (count > 0) {
                count--;
                $('#counter').val(count);
            }
        });
    });
</script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>

{%endblock%}