{% extends "administration/dashboard.html" %}

{% block content %}
<style>
  .filters-container {
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
  }

  .filters {
    margin-bottom: 30px;
    padding: 15px;
    background-color: #f8f9fa;
    border: 1px solid #ddd;
    border-radius: 10px;
    display: inline-block;
  }

  .filters label {
    font-weight: bold;
    margin-right: 10px;
    color: #264F3F;
  }

  .filters select {
    padding: 6px 12px;
    border-radius: 6px;
    border: 1px solid #ccc;
    min-width: 150px;
  }

  .filters button {
    padding: 6px 16px;
    background-color: #264F3F;
    color: white;
    border: none;
    border-radius: 6px;
    margin-right: 10px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }

  .filters button:hover {
    background-color: #264F3F;
  }
  .btn-info {
    background-color: #264F3F; 
    color: #f1f9f6 !important; 
    border: 1px solid #264F3F;
  }
  .btn-info:hover{
    background-color: #264F3F;
  }
  </style>


<h2 style="text-align: center; color: #264F3F; margin-bottom: 24px;">قائمة الطلبات</h2>
  <div class="filters-container">
  <div class="filters">
    <form method="get">
      <label for="status">تصفية الحالة:</label>
      <select name="status" id="status">
        <option value="">-- اختر الحالة --</option>
        <option value="open" {% if request.GET.status == "open" %}selected{% endif %}>مفتوح</option>
        <option value="processing" {% if request.GET.status == "processing" %}selected{% endif %}>قيد المعالجة</option>
        <option value="closed" {% if request.GET.status == "closed" %}selected{% endif %}>مستلم</option>
        <option value="cancelled" {% if request.GET.status == "cancelled" %}selected{% endif %}>ملغاة</option>
      </select>
      <button type="submit">تصفية</button>
    </form>
  </div>
  </div>

  <table class="table table-striped">
    <thead>
      <tr>
        <th>#</th>
        <th>المستفيد</th>
        <th>الحالة</th>
        <th>تاريخ الإنشاء</th>
        <th>تاريخ التوصيل</th>
        <th>الإجراءات</th>
      </tr>
    </thead>
    <tbody>
      {% for order in orders %}
        <tr>
          <td>{{ order.id }}</td>
          <td>{{ order.beneficiary.username }}</td>
          <td>{{ order.get_status_display }}</td>
          <td>{{ order.created_at|date:"Y-m-d H:i" }}</td>
          <td>{{ order.delivery_date|date:"Y-m-d H:i" }}</td>
          <td>
            <a href="#" class="btn btn-info  btn-sm">عرض التفاصيل</a>
            {% if order.status == 'open' %}
            {% endif %}
          </td>
        </tr>
      {% empty %}
        <tr>
          <td colspan="6" class="text-center">لا توجد طلبات لعرضها.</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>

{% endblock %}
