<div class="container d-flex flex-column justify-content-center align-items-center">

  <h2>Sign In </h2>

  <form class="d-flex flex-column gap-3 w-50" action="{% url 'accounts:sign_in' %}{% if 'next' in request.GET %}?next={{request.GET.next}}{% endif %}" method="POST">
      {% csrf_token %}
      

      <div class="form-floating">
          <input type="text" class="form-control" id="floatingInput" placeholder="username" name="username">
          <label for="floatingInput">User name</label>
      </div>


      <div class="form-floating">
        <input type="password" class="form-control" id="floatingPassword" placeholder="Password" name="password">
        <label for="floatingPassword">Password</label>
      </div>
  

      <button class="btn btn-primary w-100 py-2" type="submit">Sign In</button>
    </form>
  </div>



        <div class="text-center mt-3">
          <p>Don't have an account? <a href="{% url 'accounts:sign_up_beneficiary' %}" class="text-decoration-none">Sign Up</a></p>
      </div>

        </div>
    </div>
  </div>
        
