{% extends 'main/base.html'%}
{% load static %}

{% block content %}

<!--<div class="container d-flex flex-column justify-content-center align-items-center">

  <h2>تسجيل دخول </h2>

  <form class="d-flex flex-column gap-3 w-50" action="{% url 'accounts:sign_in' %}{% if 'next' in request.GET %}?next={{request.GET.next}}{% endif %}" method="POST">
      {% csrf_token %}
      

      <div class="form-floating">
          <input type="text" class="form-control" id="floatingInput" placeholder="username" name="username">
          <label for="floatingInput">User name</label>
      </div>


      <div class="form-floating">
        <input type="password" class="form-control" id="floatingPassword" placeholder="Password" name="password">
        <label for="floatingPassword">Password</label>
      </div>
  

      <button class="btn btn-primary-custom w-100 py-2" type="submit">Sign In</button>
    </form>
  </div>



        <div class="text-center mt-3">
          <p>ليس لديك حساب؟ <a href="{% url 'accounts:sign_up_beneficiary' %}" class="text-decoration-none">سجل الان</a></p>
          <p><a href="{% url 'accounts:sign_up_supplier' %}" class="text-decoration-none">  سجل كمورد الان</a></p>
      </div>


        </div>
    </div>
  </div>-->


  <div class="container mt-5 mb-5">
    <div class="row justify-content-center align-items-center flex-row-reverse">
      
          <div class="col-md-6 d-none d-md-block">
            <img src="{% static 'img/user.svg' %}" alt="Supplier Illustration" class="img-fluid" style="max-height: 400px;">
          </div>

        <!-- العمود الذي يحتوي على نموذج تسجيل الدخول -->
        <div class="col-md-6 d-flex justify-content-center align-items-center">
            <div class="card p-4" style="width: 100%; max-width: 400px;">
                <h2 class="text-center mb-4">تسجيل دخول</h2>

                <form class="d-flex flex-column gap-3" action="{% url 'accounts:sign_in' %}{% if 'next' in request.GET %}?next={{request.GET.next}}{% endif %}" method="POST">
                    {% csrf_token %}
                    
                    <div class="form-floating">
                        <input type="text" class="form-control" id="floatingInput" placeholder="username" name="username">
                        <label for="floatingInput">اسم المستخدم</label>
                    </div>

                    <div class="form-floating">
                        <input type="password" class="form-control" id="floatingPassword" placeholder="Password" name="password">
                        <label for="floatingPassword">كلمة المرور</label>
                    </div>

                    <button class="btn btn-primary-custom w-100 py-2" type="submit">تسجيل دخول</button>
                </form>

                <div class="text-center mt-3">
                    <p>ليس لديك حساب؟ <a href="{% url 'accounts:sign_up_beneficiary' %}" class="text-decoration-none">سجل الآن</a></p>
                    <p><a href="{% url 'accounts:sign_up_supplier' %}" class="text-decoration-none">سجل كمورد الآن</a></p>
                </div>
            </div>
        </div>
    </div>
</div>
  
        

{% endblock %}