
.container-section {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.btn-light{
    color: #F3F1EC;
    background-color: #264f3f;
} 

.btn:hover {
    background-color: #204a3a;
}
label{
    color: #264f3f;
    font-weight: 600;

}
.form-control{
    text-align: right;
    direction: rtl; 
}
.form-control:focus {
    color: var(--bs-body-color);
    background-color: var(--bs-body-bg);
    border-color: #264f3f;
    outline: 0;
    box-shadow: 0 0 0 .25rem rgba(38, 79, 63, .25); /* استخدام اللون الجديد */
}
/* .form-control:focus{
    background-color: 264f3f;
    
}  */
.tooltip {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted black;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;

  /* Position the tooltip */
  position: absolute;
  z-index: 1;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
}
